In [26]:
import pandas as pd
import numpy as np

In [27]:
df=pd.read_csv('exercise.csv')

In [28]:
df.describe()

,Feature_0,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,Class
count,1410.000000,1421.000000,1415.000000,1421.000000,1418.000000,1406.000000,1418.000000,1410.000000,1419.000000,1415.000000,1429.000000
mean,2.761278,18.836509,-9.570223,9.982570,13.792544,-18.587160,-16.879084,-22.516671,-0.934358,9.958484,0.375787
std,0.092740,0.063372,0.226868,0.248747,1.538595,0.510192,9.431922,0.027776,0.326741,0.427736,0.484495
min,2.140701,18.043017,-10.471220,9.148813,9.178957,-21.330718,-45.823666,-23.147576,-2.135276,8.928247,0.000000
25%,2.741825,18.841566,-9.690766,9.865447,12.810516,-18.803854,-23.464018,-22.515233,-1.106257,9.669022,0.000000
50%,2.810525,18.841566,-9.612721,10.008774,13.687099,-18.432257,-16.835631,-22.515233,-0.890881,9.926164,0.000000
75%,2.810525,18.841566,-9.495653,10.152101,14.688909,-18.246458,-10.522323,-22.515233,-0.699436,10.197245,1.000000
max,2.999449,18.841566,-7.622564,11.413376,20.073634,-17.614742,12.196056,-22.515233,-0.005447,11.643751,1.000000

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1429 entries, 0 to 1428
Data columns (total 11 columns):
Feature_0    1410 non-null float64
Feature_1    1421 non-null float64
Feature_2    1415 non-null float64
Feature_3    1421 non-null float64
Feature_4    1418 non-null float64
Feature_5    1406 non-null float64
Feature_6    1418 non-null float64
Feature_7    1410 non-null float64
Feature_8    1419 non-null float64
Feature_9    1415 non-null float64
Class        1429 non-null int64
dtypes: float64(10), int64(1)
memory usage: 122.9 KB

In [61]:
Class_prop=(sum(df.Class==1)/len(df.Class))

print ('proportion of class 1 is %s' %Class_prop)

proportion of class 1 is 0.377897990726

In [31]:
df=df.replace('', np.nan)

In [32]:
df=df.dropna(how='any', axis=0) #drop blanks

# Machine Learning

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
X=df.iloc[:,0:-1]
Y=df.Class

In [35]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [63]:
# Log regression


from sklearn.linear_model import LogisticRegression

logistic_classifier=LogisticRegression()
logistic_classifier.fit(X_train, Y_train)

output=logistic_classifier.predict(X_test)

Y_test=np.array(Y_test)
together=np.column_stack((output, Y_test))


correct=0
for y,t in together:
    if y==t:
        correct+=1
Error = (1-(correct/len(output)))*100
print ('error rate for logistic regression classifier is %s' %Error)

error rate for logistic regression classifier is 18.532818532818528

In [62]:
#Â random forrest 

from sklearn.ensemble import RandomForestClassifier

random_classifier=RandomForestClassifier()

random_classifier.fit(X_train, Y_train)

output=random_classifier.predict(X_test)

Y_test=np.array(Y_test)
together=np.column_stack((output, Y_test))

correct=0
for y,t in together:
    if y==t:
        correct+=1
Error = (1-(correct/len(output)))
print ('error rate for random forrest is %s' %Error)

error rate for random forrest is 0.13127413127413123

In [58]:
def predictnewone(x):
    print(random_classifier.predict(x))
    
    
x=np.zeros(10)

In [59]:
predictnewone(x)

[0]

/Users/IzzIbrahim/anaconda/lib/python3.5/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)